<h1>Holiday Matsuri <%=@convention.year %> Panel Application</h1>
<p>Information That Zac and Greg Need to Provide me!!!</p>
<hr>
<%= form_for @panel, url: convention_event_application_path(@convention, @panel) do |f| %>
  <div class="row">
    <h2>General Information</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :event_name, class: 'form-label' %>
      <%= f.text_field :event_name, class: 'form-control' %>
      <div id="nameHelp" class="form-text">Name of panel/event as you would like it to appear in Guide/Mobile App</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :host_stage_name, class: 'form-label' %>
      <%= f.text_field :host_stage_name, class: 'form-control' %>
      <div id="nameHelp" class="form-text">Stage Name of Host or Hosts</div>
    </div>
    <div class="col">
      <%= f.label :event_length, class: 'form-label' %>
      <%= f.select :event_length, options_for_select(['1 Hour', '1.5 Hours', '2 Hours'], 'Select a length'), class: 'form-select' %>

      <%= f.label :age_rating, class: 'form-label' %>
      <%= f.select :age_rating, options_for_select(['G Rated', '13+', '18+'], 'Select an Age Rating'), class: 'form-select' %>
    </div>
    <div class="col">
      <%= f.label "Did you previously host a Panel at Holiday Matsuri 2019?", class: 'form-check-label' %>
      <%= f.check_box :previous_convention, class: 'form-check-input' %>
    </div>
  </div>
  <div class="row">
    <h2>About the Panel</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label 'Internal Description', class: 'form-label' %>
      <%= f.text_area :internal_desc, class: 'form-control' %>
      <div id="internalHelp" class="form-text">Description of the panel/event to assist Convention Organizers understand what you would like to do.</div>
    </div>
    <div class="col">
      <%= f.label 'External Description', class: 'form-label' %>
      <%= f.text_area :external_desc, row: 10, class: 'form-control' %>
      <div id="externalHelp" class="form-text">Description of the panel/event you would like listed in the Convention Guide and Mobile App</div>
    </div>
  </div>
  <div class="row">
    <h2>Time Choices</h2>
    <p>Below please pick the best time each day for your panel.</p>
  </div>
  <div class="row">
    <h3>Friday</h3>
  </div>
  <div class="row">
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">This is the Best Time for my panel</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.radio_button :friday_best_choice, t[:time], class: "#{t[:className]} form-check-input" %>
            <%= f.label :friday_best_choice, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>

    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">I can do these times</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <!-- <input multiple type="checkbox" value="<%= t[:time] %>" name="event_application[friday_good_choice][]"> -->
            <%= f.check_box :friday_good_choices, {mulitple: true}, t[:time], false %>
            <%= f.label :friday_good_choices, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>

    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">I feel indifferent about these times</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :friday_dont_cares, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil %>
            <%= f.label :friday_dont_cares, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">Would Rather Not do these times</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :friday_would_rather_nots, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil %>
            <%= f.label :friday_would_rather_nots, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">Can't Do this these Times</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :friday_cant_dos, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil %>
            <%= f.label :friday_cant_dos, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
  </div>

  <div class="row">
    <h3>Saturday</h3>
  </div>
  <div class="row">
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">This is the Best Time for my panel</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.radio_button :saturday_best_choice, t[:time], class: "#{t[:className]} form-check-input" %>
            <%= f.label :saturday_best_choice, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>

    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">I can do these times</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :saturday_good_choice, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil %>
            <%= f.label :saturday_good_choice, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>

    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">I feel indifferent about these times</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :saturday_dont_care, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil %>
            <%= f.label :saturday_dont_care, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">Would Rather Not do these times</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :saturday_would_rather_not, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil %>
            <%= f.label :saturday_would_rather_not, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">Can't Do this these Times</h6>
        <% @full_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :saturday_cant_do, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil %>
            <%= f.label :saturday_cant_do, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
  </div>

  <div class="row non-adult">
    <h3>Sunday</h3>
  </div>
  <div class="row non-adult">
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">This is the Best Time for my panel</h6>
        <% @half_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.radio_button :sunday_best_choice, t[:time], class: "#{t[:className]} form-check-input" %>
            <%= f.label :sunday_best_choice, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>

    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">I can do these times</h6>
        <% @half_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :sunday_good_choice, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil %>
            <%= f.label :sunday_good_choice, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>

    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">I feel indifferent about these times</h6>
        <% @half_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :sunday_dont_care, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil  %>
            <%= f.label :sunday_dont_care, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">Would Rather Not do these times</h6>
        <% @half_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :sunday_would_rather_not, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil  %>
            <%= f.label :sunday_would_rather_not, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
    <div class="col card">
      <div class="card-body">
        <h6 class="card-title">Can't Do this these Times</h6>
        <% @half_day.each do |t| %>
          <div class="form-check <%= t[:className] %>">
            <%= f.check_box :sunday_cant_do, {mulitple: true, class: "#{t[:className]} form-check-input"}, t[:time], nil  %>
            <%= f.label :sunday_cant_do, t[:time], class: "#{t[:className]} form-check-label" %>
          </div>
        <% end %>
      </div> 
    </div>
  </div>
  
  
  <%= f.hidden_field(:convention_id, :value => @convention.id) %>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>

  <%= f.submit %>
  <%end%>

  <script>
    $("#event_application_age_rating").change(function(){
      var age = $("#event_application_age_rating").val();
      console.log(age)
      if(age == "18+"){
        $('.non-adult').addClass('d-none')
      }else{
        $('.non-adult').removeClass('d-none')
      }
    })
  </script>