<div class="row">
  <div class="col-md-12">
    <%= link_to "Add Guest", new_admin_guest_path, class: 'btn btn-primary btn-large' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th>Guest Name</th>
        <th>Location</th>
        <th></th>
        <th></th>
      </tr>
      <% @guests.each do |guest| %>
        <tr>
          <td><%= guest.guest_name %></td>
          <td><%= guest.guest_description %></td>
          <td><%= link_to "Edit", edit_admin_guest_path(guest), class: 'btn btn-primary' %></td>
          <td><%= link_to "Remove", admin_guest_path(guest), method: :delete, data: { confirm: 'Are you Sure????' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
