<%= form_with model: [:admin, @event] do |f| %>
  <div class="row g-5">
    <div class="col-4">
      <%= f.label :event_name %>
      <%= f.text_field :event_name, class: 'form-control' %>
    </div>
    <div class="col-4">
      <%= f.label :start_datetime %>
      <%= f.datetime_local_field :start_datetime, class: 'form-control' %>
    </div>
    <div class="col-4">
      <%= f.label :end_datetime %>
      <%= f.datetime_local_field :end_datetime, class: 'form-control' %>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-3">
      <%= f.label :location %>
      <%= f.select :location, options_for_select(['Main Events', 'Special Events', 'Game Room', 'Cosplay Academy', 'Panel Chicago', 'Panel Miami', 'Panel New Orleans', 'Panel Los Angeles', 'Panel San Francisco', 'Big Panel', 'Cafe'], 'Select an Age Rating'), {}, {class: 'form-select'} %>
    </div>
    <div class="col-3">
      <%= f.label :host %>
      <%= f.text_field :host, class: 'form-control' %>
    </div>
    <div class="col-3">
      <%= f.label :user_id %>
      <%= f.collection_select :user_id, @admins, :id, :username,{}, {class: 'form-select'} %>
    </div>
    <div class="col-3">
      <%= f.label :age_rating %>
      <%= f.select :age_rating, options_for_select(['G Rated', '13+', '18+'], 'Select an Age Rating'),{}, class: 'form-select' %>
    </div>
  </div>
  <div class="row g-10">
    <div class="col-12">
      <%= f.label :external_desc %>
      <%= f.text_area :external_desc, class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field :convention_id, value: @convention.id %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>