<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 ">
  <h1>Conventions</h1>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <%= link_to "Add Convention", new_admin_convention_path, class: 'btn btn-success' %>
</div>
<div class="row">
    <% @conventions.each do |con| %>
      <div class="col-md-3">
        <% if con.status == "active" %>
          <div class="card" style="width: 18rem;">
              <div class="card-body text-white" style="background-color: #39996A;">
                <strong>ACTIVE</strong>
              </div>
            
            <div class="card-body">
              <h5 class="card-title">Holiday Matsuri <%= con.year %></h5>
              <p class="card-text"><%= con.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Address: </strong><%= con.address %></li>
              <li class="list-group-item"><strong>Dates: </strong><%= con.start_date.strftime("%b %-d %Y") %> to <%= con.end_date.strftime("%b %-d %Y") %></li>
            </ul>
            <div class="card-body">
              <%= link_to "Edit", edit_admin_convention_path(con), class: 'btn btn-primary' %>
            </div>
          </div>
        <% else %>
          <div class="card" style="width: 18rem;">
            <div class="card-body text-white" style="background-color:darkgray;">
              <strong>INACTIVE</strong>
            </div>
            <div class="card-body">
              <h5 class="card-title">Holiday Matsuri <%= con.year %></h5>
              <p class="card-text"><%= con.description %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Address: </strong><%= con.address %></li>
              <li class="list-group-item"><strong>Dates: </strong><%= con.start_date.strftime("%b %-d %Y") %> to <%= con.end_date.strftime("%b %-d %Y") %></li>
            </ul>
            <div class="card-body">
              <%= link_to "Edit", edit_admin_convention_path(con), class: 'btn btn-primary' %>
              <%= link_to "Make Active", admin_convention_activate_path(con.slug), method: 'PUT', class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>