<div class="row">
  <div class="col-md-12">
    <h1><%= @panel.event_name %></h1>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2>Panel Info</h2>
        <ul class="list-group">
          <li class="list-group-item">Host: <%= @panel.host_stage_name %></li>
          <li class="list-group-item">Age Rating: <%= @panel.age_rating %></li>
          <li class="list-group-item">Category: <%= @panel.panel_category %></li>
          <li class="list-group-item">Hosted at previous Holiday Matsuri? <%= @panel.previous_convention.to_s.titleize %></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Internal Description</h5>
        <p class="card-text">
          <%= @panel.internal_desc %>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">External Description</h5>
        <p class="card-text">
          <%= @panel.external_desc %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= form_for @review, url: admin_reviews_path do |f| %>
      <div class="row">
        <div class="col-12">
          <h4>Scoring (Out of 100)</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.label :feasibility %>
          <%= f.number_field :feasibility, in: 1..100, step: 1, oninput: "document.getElementById('feasibility_value').innerHTML = this.value" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.label :relevance %>
          <%= f.number_field :relevance, in: 1..100, step: 1, oninput: "document.getElementById('relevance_value').innerHTML = this.value" %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.label "Presence" %>
          <%= f.number_field :fun_factor, in: 1..100, step: 1, oninput: "document.getElementById('fun_factor_value').innerHTML = this.value" %>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h6>Panel Type</h6>
          <label for="structure_type_label">Recommended Score:</label>
          <select name="structure_type_label" id="structure_type_label" oninput="document.getElementById('review_structure').value = this.value">
            <option selected>Pick a Panel Type</option>
            <option value="10">Fan Ran Q&A (10)</option>
            <option value="80">Performance (80)</option>
            <option value="200">Guest Event (200)</option>
            <option value="70">How To (70)</option>
            <option value="50">Game Show (50)</option>
          </select>
          
          <label for="review_structure">Adjusted Score:</label>         
          <%= f.number_field :structure, in: 1..200, step: 1, value: 10 %>
        </div>
        <div class="col-6">
          <h6>Panel Rarity</h6>
          Total Panels with Topic: <%= @count %> (<%= @rarity %> Suggested)
          <br>
          <label for="review_style">Rarity:</label>
          <%= f.number_field :style, in: -200..200, step: 1, value: @rarity %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Other Info:</h3>
        </div>
        <div class="col-12">
          <h4><%= f.label :comments %></h4>
          <%= f.text_area :comments, style: 'width:100%' %>
        </div>
      </div>
      <div class="row">
        <h6>Total Score:</h6>
        <span id="total_score">0</span>
        <%= f.hidden_field :total_score, value: 0 %>
      </div>

      <div class="row">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :event_application_id, value: @panel.id %>
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
    <div class="row p-5">
      <%= link_to 'Cancel Review', admin_reviews_cancel_review_path(app_id: @panel.id), class: 'btn btn-large btn-danger' %>
    </div>
  </div>
</div>
<script>
  function calculate_total(){
    var total = 0
    
    feas = $('#review_feasibility').val()
    total += parseInt(feas)
    relevance = $('#review_relevance').val()
    total += parseInt(relevance)
    fun = $('#review_fun_factor').val()
    total += parseInt(fun)
    p_type = $('#review_structure').val()
    total += parseInt(p_type)
    rare = $('#review_style').val()
    total += parseInt(rare)
    return total
  }
  $('input').change(function(){
    $('#total_score').text(calculate_total())
    $('#review_total_score').val(calculate_total())
  })
  $('#structure_type_label').change(function(){
    $('#total_score').text(calculate_total())
    if($(this).val() == 200){
      $('#review_structure').prop('readonly', true)
    }else{
      $('#review_structure').prop('readonly', false)
    }
  })

</script>
