<div class="row">
  <div class="col-md-12">
    <%= link_to "Add Artist", new_admin_artist_path, class: 'btn btn-primary btn-large' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th>Artist Name</th>
        <th>Location</th>
        <th></th>
        <th></th>
      </tr>
      <% @artists.each do |artist| %>
        <tr>
          <td><%= artist.artist_name %></td>
          <td><%= artist.artist_location %></td>
          <td><%= link_to "Edit", admin_artist_path(artist), class: 'btn btn-primary' %></td>
          <td><%= link_to "Remove", admin_artist_path(artist), method: :delete, data: { confirm: 'Are you Sure????' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
