<div class="d-flex flex-column flex-shrink-0 p-3 hm-background" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Holiday Matsuri</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <%= link_to admin_path, class: is_active?(admin_path) do %>
          <i class="fa-duotone fa-house"></i>
          Home
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_conventions_path, class: is_active?(admin_conventions_path) do %>
          <i class="fa-duotone fa-landmark"></i>
          Conventions
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to admin_events_path, class: is_active?(admin_events_path) do %>
          <i class="fa-duotone fa-dumpster-fire"></i>
          Panels & Events
        <% end %>
      </li>
      <li>
        <%= link_to admin_guests_path, class: is_active?(admin_guests_path) do %>
          <i class="fa-duotone fa-person-booth"></i>
          Guests
        <% end %>
      </li>
      <li>
        <%= link_to admin_artists_path, class: is_active?(admin_artists_path) do %>
          <i class="fa-duotone fa-brush"></i>
          Artists
        <% end %>
      </li>
      <li>
        <%= link_to admin_vendors_path, class: is_active?(admin_vendors_path) do %>
          <i class="fa-duotone fa-money-bill-1"></i>
          Vendors
        <%end%>
      </li>
      <li class="border-top my-3"></li>
      <li>
        <%= link_to admin_applications_path, class: is_active?(admin_applications_path) do %>
          <i class="fa-duotone fa-memo"></i>
          Panel Applications
        <%end%>
      </li>
      <li>
        <%= link_to admin_reviews_path, class: is_active?(admin_reviews_path) do %>
          <i class="fa-duotone fa-clipboard-list"></i>
          Panel Reviews
        <%end%>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-item fa-duotone fa-circle-user"></i>
        
        <strong><%= @current_user.username %></strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownUser1">
        <li>
          <%= link_to destroy_user_session_path, method: 'delete', class: 'dropdown-item' do %>
            Sign Out
            <i class="fa-solid fa-right-from-bracket" style="margin-left: 10px;"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>