<h1>Holiday Matsuri <%=@convention.year %> Panel Application: <%= @panel.event_name %></h1>
<hr>
<%= form_for @panel, url: admin_application_path(@panel) do |f| %>
  <div class="row">
    <h2>General Information</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :event_name, class: 'form-label' %>
      <%= f.text_field :event_name, class: 'form-control' %>
      <div id="nameHelp" class="form-text">Name of panel/event as you would like it to appear in Guide/Mobile App</div>
    </div>
    <div class="col">
      <%= f.label :panel_category, class: 'form-label' %>
      <%= f.text_field :panel_category, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label :host_stage_name, class: 'form-label' %>
      <%= f.text_field :host_stage_name, class: 'form-control' %>
      <div id="nameHelp" class="form-text">Stage Name of Host or Hosts</div>
    </div>
    <div class="col">
      <%= f.label :event_length, class: 'form-label' %>
      <%= f.select :event_length, options_for_select(['1 Hour', '1.5 Hours', '2 Hours'], @panel.event_length), class: 'form-select' %>

      <%= f.label :age_rating, class: 'form-label' %>
      <%= f.select :age_rating, options_for_select(['G Rated', '13+', '18+'], @panel.age_rating), class: 'form-select' %>
    </div>
    <div class="col">
      <%= f.label "Did you previously host a Panel at Holiday Matsuri 2019?", class: 'form-check-label' %>
      <%= f.check_box :previous_convention, class: 'form-check-input' %>
    </div>
  </div>
  <div class="row">
    <h2>About the Panel</h2>
    <hr>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label 'Internal Description', class: 'form-label' %>
      <%= f.text_area :internal_desc, class: 'form-control' %>
      <div id="internalHelp" class="form-text">Description of the panel/event to assist Convention Organizers understand what you would like to do.</div>
    </div>
    <div class="col">
      <%= f.label 'External Description', class: 'form-label' %>
      <%= f.text_area :external_desc, row: 10, class: 'form-control' %>
      <div id="externalHelp" class="form-text">Description of the panel/event you would like listed in the Convention Guide and Mobile App</div>
    </div>
  </div>
  <div class="row">
    <h2>Time Choices</h2>
    <p>Below please pick the best time each day for your panel.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.fields_for :time_choice, TimeChoice.new do |t| %>
      <!-- START FRIDAY -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Friday</h4>
          <div class="card non-adult">
            <div class="card-body">
              <label>Friday 8am to 11am</label>
              <%= t.range_field :fri_8_to_11, in: 1..5, value: @panel.time_choice.fri_8_to_11, list: "fri_8_to_11_list", data: {day: 'friday'}, class: "non-adult" %>
              <datalist id="fri_8_to_11_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
            
          <!-- Friday 11am to 2pm -->
          <div class="card non-adult">
            <div class="card-body">
              <label>Friday 11am to 2pm</label>
              <%= t.range_field :fri_11_to_14, in: 1..5, value: @panel.time_choice.fri_11_to_14, list: "fri_11_to_14_list", data: {day: 'friday'}, class: "non-adult" %>
              <datalist id="fri_11_to_14_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Friday 2pm to 5pm -->
          <div class="card non-adult">
            <div class="card-body">
              <label>Friday 2pm to 5pm</label>
              <%= t.range_field :fri_14_to_17, in: 1..5, value: @panel.time_choice.fri_14_to_17, list: "fri_14_to_17_list", data: {day: 'friday'}, class: "non-adult" %>
              <datalist id="fri_14_to_17_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Friday 5pm to 8pm -->
          <div class="card non-adult">
            <div class="card-body">
              <label>Friday 5pm to 8pm</label>
              <%= t.range_field :fri_17_to_20, in: 1..5, value: @panel.time_choice.fri_17_to_20, list: "fri_17_to_20_list", data: {day: 'friday'}, class: "non-adult" %>
              <datalist id="fri_17_to_20_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Friday 8pm to 11pm -->
          <div class="card">
            <div class="card-body">
              <label>Friday 8pm to 11pm</label>
              <%= t.range_field :fri_20_to_23, in: 1..5, value: @panel.time_choice.fri_20_to_23, list: "fri_20_to_23_list", data: {day: 'friday'} %>
              <datalist id="fri_20_to_23_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Friday 11pm to 2am -->
          <div class="card">
            <div class="card-body">
              <label>Friday 11pm to 2am</label>
              <%= t.range_field :fri_23_to_2, in: 1..5, value: @panel.time_choice.fri_23_to_2, list: "fri_23_to_2_list", data: {day: 'friday'} %>
              <datalist id="fri_23_to_2_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
        </div>
      </div>
      <!-- END FRIDAY -->
      <!-- START SATURDAY -->
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Saturday</h4>
          <div class="card non-adult">
            <div class="card-body">
              <label>Saturday 8am to 11am</label>
              <%= t.range_field :sat_8_to_11, in: 1..5, value: @panel.time_choice.sat_8_to_11, list: "sat_8_to_11_list", data: {day: 'saturday'}, class: "non-adult" %>
              <datalist id="sat_8_to_11_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
            
          <!-- Saturday 11am to 2pm -->
          <div class="card non-adult">
            <div class="card-body">
              <label>Saturday 11am to 2pm</label>
              <%= t.range_field :sat_11_to_14, in: 1..5, value: @panel.time_choice.sat_11_to_14, list: "sat_11_to_14_list", data: {day: 'saturday'}, class: "non-adult" %>
              <datalist id="sat_11_to_14_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Saturday 2pm to 5pm -->
          <div class="card non-adult">
            <div class="card-body">
              <label>Saturday 2pm to 5pm</label>
              <%= t.range_field :sat_14_to_17, in: 1..5, value: @panel.time_choice.sat_14_to_17, list: "sat_14_to_17_list", data: {day: 'saturday'}, class: "non-adult" %>
              <datalist id="sat_14_to_17_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Saturday 5pm to 8pm -->
          <div class="card non-adult">
            <div class="card-body">
              <label>Saturday 5pm to 8pm</label>
              <%= t.range_field :sat_17_to_20, in: 1..5, value: @panel.time_choice.sat_17_to_20, list: "sat_17_to_20_list", data: {day: 'saturday'}, class: "non-adult" %>
              <datalist id="sat_17_to_20_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Saturday 8pm to 11pm -->
          <div class="card">
            <div class="card-body">
              <label>Saturday 8pm to 11pm</label>
              <%= t.range_field :sat_20_to_23, in: 1..5, value: @panel.time_choice.sat_20_to_23, list: "sat_20_to_23_list", data: {day: 'saturday'} %>
              <datalist id="sat_20_to_23_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Saturday 11pm to 2am -->
          <div class="card">
            <div class="card-body">
              <label>Saturday 11pm to 2am</label>
              <%= t.range_field :sat_23_to_2, in: 1..5, value: @panel.time_choice.sat_23_to_2, list: "sat_23_to_2_list", data: {day: 'saturday'} %>
              <datalist id="sat_23_to_2_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
        </div>
      </div>
      <!-- END SATURDAY -->
      <!-- START SUNDAY -->
      <div class="card non-adult">
        <div class="card-body">
          <h4 class="card-title">Sunday</h4>
          <div class="card non-adult">
            <div class="card-body">
              <label>Sunday 8am to 11am</label>
              <%= t.range_field :sun_8_to_11, in: 1..5, value: @panel.time_choice.sun_8_to_11, list: "sun_8_to_11_list", data: {day: 'sunday'}, class: "non-adult" %>
              <datalist id="sun_8_to_11_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
            
          <!-- Sunday 11am to 2pm -->
          <div class="card non-adult">
            <div class="card-body">
              <label>Sunday 11am to 2pm</label>
              <%= t.range_field :sun_11_to_14, in: 1..5, value: @panel.time_choice.sun_11_to_14, list: "sun_11_to_14_list", data: {day: 'sunday'}, class: "non-adult" %>
              <datalist id="sun_11_to_14_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
          <!-- Sunday 2pm to 5pm -->
          <div class="card non-adult">
            <div class="card-body">
              <label>Sunday 2pm to 5pm</label>
              <%= t.range_field :sun_14_to_17, in: 1..5, value: @panel.time_choice.sun_14_to_17, list: "sun_14_to_17_list", data: {day: 'sunday'}, class: "non-adult" %>
              <datalist id="sun_14_to_17_list">
                <option value="1" label="Can't Do"></option>
                <option value="2" label="Would Rather Not"></option>
                <option value="3" label="Don't Care"></option>
                <option value="4" label="Can do"></option>
                <option value="5" label="Best Choice"></option>
              </datalist>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  
  
  <%= f.hidden_field(:convention_id, :value => @convention.id) %>
  <%= f.hidden_field(:user_id, :value => current_user.id) %>

  <%= f.submit %>
  <%end%>

  <script>
    $(document).ready(function(){
      var age = $("#event_application_age_rating").val();
      console.log(age)
      if(age == "18+"){
        $('.non-adult').addClass('d-none');
        $("input.non-adult").val(0);
      }else{
        $('.non-adult').removeClass('d-none')
      }
    })
    
    $("#event_application_age_rating").change(function(){
      var age = $("#event_application_age_rating").val();
      console.log(age)
      if(age == "18+"){
        $('.non-adult').addClass('d-none');
        $("input.non-adult").val(0);
      }else{
        $('.non-adult').removeClass('d-none')
      }
    })

    $("input[type='range']").change(function(){
      var changed = $(this);
      $("input[type='range']").each(function(){
        if($(this).val() == 5){
          console.log($(this).attr('id'))
          if($(this).attr('id') != changed.attr('id') && $(this).attr('data-day') == changed.attr('data-day')){
            $(this).val(4)
          }
        }
      })
    })
    
    
  </script>