<div class="row">
  <div class="col-md-12">
    <h1><%= @panel.event_name %></h1>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2>Panel Info</h2>
        <ul class="list-group">
          <li class="list-group-item">Host: <%= @panel.host_stage_name %></li>
          <li class="list-group-item">Hosted at previous Holiday Matsuri? <%= @panel.previous_convention %></li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Internal Description</h5>
        <p class="card-text">
          <%= @panel.internal_desc %>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">External Description</h5>
        <p class="card-text">
          <%= @panel.external_desc %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= form_for @review, url: admin_application_reviews_path do |f| %>
      <div class="col-12">
        <h4>Scoring</h4>
      </div>
      <div class="row">
        <div class="col-8">
          <%= f.label :feasibility %>
          <%= f.range_field :feasibility, in: 10..100, step: 10, oninput: "document.getElementById('feasibility_value').innerHTML = this.value" %>
        </div>
        <div class="col-2">
          <span id="feasibility_value"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <%= f.label :relevance %>
          <%= f.range_field :relevance, in: 10..100, step: 10, oninput: "document.getElementById('relevance_value').innerHTML = this.value" %>
        </div>
        <div class="col-2">
          <span id="relevance_value"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <%= f.label :fun_factor %>
          <%= f.range_field :fun_factor, in: 10..100, step: 10, oninput: "document.getElementById('fun_factor_value').innerHTML = this.value" %>
        </div>
        <div class="col-2">
          <span id="fun_factor_value"></span>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <h6>Panel Type</h6>
          <label for="structure_type_label">Recommended Score:</label>
          <select name="structure_type_label" id="structure_type_label" oninput="document.getElementById('application_review_structure').value = this.value">
            <option selected>Pick a Panel Type</option>
            <option value="10">Fan Ran Q&A (10)</option>
            <option value="80">Performance (80)</option>
            <option value="200">Guest Event (200)</option>
            <option value="70">How To (70)</option>
            <option value="50">Game Show (50)</option>
          </select>
          
          <label for="application_review_structure">Adjusted Score:</label>         
          <%= f.number_field :structure, in: 10..200, step: 10, value: 10 %>
        </div>
        <div class="col-6">
          <h6>Panel Rarity</h6>
          Total Panels with Topic: <%= @count %> (<%= @rarity %> Suggested)
          <br>
          <label for="application_review_style">Rarity:</label>
          <%= f.number_field :style, in: 1..100, step: 1, value: @rarity %>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h3>Other Info:</h3>
        </div>
        <div class="col-12">
          <h4><%= f.label :comments %></h4>
          <%= f.text_area :comments, style: 'width:100%' %>
        </div>
      </div>
      <div class="row">
        <h6>Total Score:</h6>
        <span id="total_score"></span>
      </div>

      <div class="row">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
<script>
  function calculate_total(){
    var total = 0
    
    feas = $('#application_review_feasibility').val()
    total += parseInt(feas)
    relevance = $('#application_review_relevance').val()
    total += parseInt(relevance)
    fun = $('#application_review_fun_factor').val()
    total += parseInt(fun)
    p_type = $('#application_review_structure').val()
    total += parseInt(p_type)
    rare = $('#application_review_style').val()
    total += parseInt(rare)
    return total
  }
  $('input').change(function(){
    $('#total_score').text(calculate_total())
  })
  $('#structure_type_label').change(function(){
    $('#total_score').text(calculate_total())
    if($(this).val() == 200){
      $('#application_review_structure').prop('disabled', true)
    }else{
      $('#application_review_structure').prop('disabled', false)
    }
  })

</script>
