<div class="row">
  <div class="col-md-12">
    <%= link_to "Add Vendor", new_admin_vendor_path, class: 'btn btn-primary btn-large' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr>
        <th>Vendor Name</th>
        <th>Location</th>
        <th></th>
        <th></th>
      </tr>
      <% @vendors.each do |vendor| %>
        <tr>
          <td><%= vendor.vendor_name %></td>
          <td><%= vendor.vendor_location %></td>
          <td><%= link_to "Edit", edit_admin_vendor_path(vendor), class: 'btn btn-primary' %></td>
          <td><%= link_to "Remove", admin_vendor_path(vendor), method: :delete, data: { confirm: 'Are you Sure????' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
